{{ partial "header.html" . }}
	<div class="row">
		<div class="text-center">
			<h3>
				{{ if .Site.Params.strings.posts_list_header }}
					{{ .Site.Params.strings.posts_list_header }}
				{{ else }}
					Posts
				{{ end }}</h3>
	    </div>
    </div>
	<div class="row">
		<div class="col-md-offset-1 col-md-10">
			<ul>
				{{ range .Data.Pages }}
					{{ if ne .Params.menu "main" }}			
		        		{{ .Render "post-title"}}
		        	{{ end }}
			    {{ end }}
		    </ul>
		</div>
    </div>
	<div class="row">
		<hr>
	</div>

{{ partial "footer.html" . }}
