<!DOCTYPE html>
<html class="no-js" lang="{{ if .Site.Params.languageCode }}{{ .Site.Params.languageCode }}{{ else }}en-us{{end}}" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="{{ .Title }}">
    <meta name="author" content="{{ .Site.Params.author }}">

    <meta name="keyword" content="">
    <link rel="shortcut icon" href="/favicon.ico">

    <title>{{ if eq .URL "/" }}{{ .Site.Title }}{{ else if eq .URL "/post/" }}{{ if .Site.Params.strings.posts_list_header }}{{ .Site.Params.strings.posts_list_header }}{{ else }}All Entries{{ end }} &middot; {{ .Site.Title }}{{ else if in .URL "/tags/" }}Tags &middot; {{ .Site.Title }}{{ else }}{{ .Title }} &middot; {{ .Site.Title }}{{ end }}</title>

   	<!-- selection of themed bootstrap css to load-->
    {{ if isset .Site.Params "theme" }}
        <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/theme/{{ .Site.Params.theme.name }}.css">
    {{ else}}
        <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/theme/default.css">
    {{ end }}

    <script defer src="https://use.fontawesome.com/releases/v5.6.3/js/solid.js" integrity="sha384-F4BRNf3onawQt7LDHDJm/hwm3wBtbLIfGk1VSB/3nn3E+7Rox1YpYcKJMsmHBJIl" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.6.3/js/regular.js" integrity="sha384-V+AkgA1cZ+p3DRK63AHCaXvO68V7B5eHoxl7QVN21zftbkFn/sGAIVR7vmQL3Zhp" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.6.3/js/brands.js" integrity="sha384-VLgz+MgaFCnsFLiBwE3ItNouuqbWV2ZnIqfsA6QRHksEAQfgbcoaQ4PP0ZeS0zS5" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.6.3/js/fontawesome.js" integrity="sha384-treYPdjUrP4rW5q82SnECO7TPVAz4bpas16yuE9F5o7CeBn2YYw1yr5oC8s8Mf8t" crossorigin="anonymous"></script>

   	<!-- include custom css -->
   	<link rel="stylesheet" href="{{ .Site.BaseURL }}/css/style.css">


    <!-- javascript -->
    <script src="{{ .Site.BaseURL }}/js/jquery.min-2.1.4.js"></script>
    <script src="{{ .Site.BaseURL }}/js/bootstrap.min-3.3.5.js"></script>

    <!-- rss -->
    <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
</head>
<body lang="{{ if .Site.Params.languageCode }}{{ .Site.Params.languageCode }}{{ else }}en{{ end }}">
    <!-- navbar -->
    {{ partial "navbar" . }}
